:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

:root {
  --radius: 0.65rem;
  --background: #171717;
  --text: #fafafa;
  --text-foreground: #78716c;
  --foreground: #0a0a0a;
  --primary: #1d4ed8;
  --secondary: #262626;
  --border: #3b82f6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
