.button {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  background-color: var(--primary);
  color: var(--text);
  font-weight: bold;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}
