.chat {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.message {
  height: 100%;
  max-width: 750px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin: 0 auto;
  overflow-y: scroll;
  padding: 8px;
}

.message div {
  display: flex;
  gap: 4px;
  align-items: end;
}

.message span {
  font-size: 12px;
  color: grey;
}

.message p {
  background-color: cornflowerblue;
  padding: 8px;
  color: white;
  max-width: 250px;
  border-radius: 20px 20px 20px 0px;

  padding: 16px;
}

.message span {
  font-size: 14px;
  color: grey;
}
