.chat {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.message {
  height: 100%;
  max-width: 750px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0 auto;
  overflow-y: scroll;
  padding: 8px;
}

.message h4 {
  color: var(--text-foreground);
  text-align: center;
  font-weight: normal;
  font-size: 14px;
}

.msg {
  display: flex;
  flex-direction: column;
  align-self: baseline;
  gap: 8px;
}
.msg div {
  display: flex;
  align-items: end;
  gap: 4px;
}

.msg span {
  font-size: 12px;
  color: var(--text-foreground);
}

.msg p {
  background-color: var(--text-foreground);
  padding: 8px;
  color: var(--text);
  max-width: 380px;
  border-radius: 12px 12px 12px 0px;
  padding: 16px;
}

.msg span {
  font-size: 14px;
  color: var(--text-foreground);
}
.msg small {
  font-size: 12px;
  color: var(--text-foreground);
}

.me_msg {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin: 12px 0;
  align-self: end;
}

.me_msg div {
  display: flex;
  flex-direction: row-reverse;
  align-items: end;
  gap: 4px;
}

.me_msg span {
  font-size: 14px;
  color: var(--text-foreground);
}

.me_msg small {
  display: flex;
  align-self: self-end;
  font-size: 12px;
  color: var(--text-foreground);
}

.me_msg p {
  background-color: var(--primary);
  padding: 8px;
  color: var(--text);
  max-width: 380px;
  border-radius: 12px 12px 0px 12px;

  padding: 16px;
}

.me span {
  font-size: 14px;
  color: var(--text-foreground);
}

.loading {
  background-color: transparent;
  padding: 0px;
  color: var(--text-foreground);
  max-width: 100%;
  border-radius: 0px;
  text-align: center;

  padding: 0px;
}

.file {
  border: 2px solid var(--text-foreground);
  max-width: 380px;
  border-radius: 8px;
  overflow: hidden;
}

.file img {
  width: 100%;
}

.me_file {
  border: 2px solid var(--primary);
  max-width: 380px;
  border-radius: 8px;
  overflow: hidden;
}

.me_file img {
  width: 100%;
}
