.container {
  width: 100%;
  background-color: var(--background);
  padding: 16px 8px;
  box-shadow: 0 2px 6px -4px rgba(73, 70, 70, 0.3);
}
.container header {
  max-width: 750px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--primary);
}
.logo h1 {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
}

.LogOut {
  padding: 0;
  border: 0;
  background-color: transparent;
  color: var(--text-foreground);
  cursor: pointer;
}
