header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  box-shadow: 0 2px 6px -4px rgba(0, 0, 0, 0.3);
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: cornflowerblue;
}
.logo h1 {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
}

.LogOut {
  padding: 0;
  border: 0;
  background-color: transparent;
  color: dimgray;
  cursor: pointer;
}
