.inputMessage {
  height: 100px;
  background-color: var(background);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 8px;
  box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.3);
}
.inputMessage form {
  max-width: 750px;
  width: 100%;
  border-radius: 12px;
  border: 0;
  display: flex;

  border: 2px solid var(--primary);
}
.inputMessage form:focus-within {
  border: 2px solid var(--primary);
}
.inputMessage input {
  width: 100%;
  background-color: transparent;
  border: 0;
  outline: none;
  padding: 16px;
  font-size: 14px;
}

.inputMessage button {
  display: flex;
  justify-items: center;
  align-items: center;
  border: none;
  background-color: transparent;
  margin: 8px;
  cursor: pointer;
}
.inputMessage button svg {
  color: var(--primary);
}
