.input {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;

  color: var(--text);
  font-size: 14px;
  padding: 14px;
  border-radius: 12px;

  background-color: var(--foreground);
}
.input svg {
  color: var(--primary);
}
.input input {
  width: 100%;
  color: var(--text);
  background-color: var(--foreground);
  outline: none;
  border: none;
  font-size: 14px;
  box-sizing: content-box;
}
.input:focus-within {
  border: 2px solid var(--primary);
}
