.register {
  height: 100vh;
  background-color: var(--foreground);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.register form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 64px;
  border-radius: 12px;
  background-color: var(--background);
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
.register a {
  color: var(--text-foreground);
  display: block;
  text-align: center;
  margin: 16px 0 0 0;
  text-decoration: none;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--primary);
}

.logo svg {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--primary);
}
.logo h1 {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
}

@media (min-width: 440px) {
  .register form {
    width: 440px;
  }
}
